build/
plan/
.cache/
*.user
*.autosave
CMakeLists.txt.user*
*.pro.user
*.qmlc
*.jasc
.qmake.stash
*.qm
*.o
*.a
*.so
*.dylib
*.exe
*.app
.vscode/
.idea/
*.swp
*~
src/app/web_experiment/dist/
src/app/web_experiment/node_modules/
